In [1]:
import pandas as pd
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r"C:\Users\Nicole Macauley\Desktop\Projects In Progress\Inventory_SupplyChain_Dataset.csv")
data

,Date,Region,Category,Supplier,Warehouse,Order Status,Units Sold,Inventory Level,Transportation Cost,Order Accuracy,Lead Time (Days),Backorder,Cost of Goods Sold (COGS),Average Inventory,Warehouse Capacity
0,14-01-2020,North,Accessories,Supplier A,Warehouse 1,Fulfilled,302,2124,1103.838324,True,9,False,37820.05240,2048.0,5037
1,15-11-2020,East,Furniture,Supplier D,Warehouse 2,Fulfilled,741,1972,13163.007660,True,11,False,54396.17369,1213.0,9216
2,16-04-2020,East,Furniture,Supplier C,Warehouse 2,Fulfilled,940,454,9872.294126,True,17,False,24217.45462,1160.5,7699
3,17-04-2020,South,Accessories,Supplier D,Warehouse 2,Canceled,589,1867,4547.589932,True,3,False,38919.08005,3364.5,9271
4,18-04-2020,North,Accessories,Supplier C,Warehouse 2,Fulfilled,964,4862,11994.042310,True,21,False,59204.50683,3063.0,5828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,05-01-2023,East,Electronics,Supplier C,Warehouse 2,Pending,488,4489,13060.376620,True,29,False,64393.19690,3614.0,8820
1196,04-01-2023,East,Clothing,Supplier A,Warehouse 3,Fulfilled,946,2739,3052.358948,True,14,False,105773.05570,2015.0,7697
1197,03-01-2023,North,Accessories,Supplier C,Warehouse 2,Fulfilled,637,1291,3774.674667,True,15,False,96050.32391,758.5,5386
1198,02-01-2023,West,Clothing,Supplier D,Warehouse 1,Pending,906,226,11776.903590,True,2,False,88010.31702,1761.5,8729
1199,01-01-2023,East,Electronics,Supplier A,Warehouse 1,Fulfilled,613,3297,14897.680250,True,17,False,104802.65720,1648.5,7314

In [5]:
data.head()

,Date,Region,Category,Supplier,Warehouse,Order Status,Units Sold,Inventory Level,Transportation Cost,Order Accuracy,Lead Time (Days),Backorder,Cost of Goods Sold (COGS),Average Inventory,Warehouse Capacity
0,14-01-2020,North,Accessories,Supplier A,Warehouse 1,Fulfilled,302,2124,1103.838324,True,9,False,37820.05240,2048.0,5037
1,15-11-2020,East,Furniture,Supplier D,Warehouse 2,Fulfilled,741,1972,13163.007660,True,11,False,54396.17369,1213.0,9216
2,16-04-2020,East,Furniture,Supplier C,Warehouse 2,Fulfilled,940,454,9872.294126,True,17,False,24217.45462,1160.5,7699
3,17-04-2020,South,Accessories,Supplier D,Warehouse 2,Canceled,589,1867,4547.589932,True,3,False,38919.08005,3364.5,9271
4,18-04-2020,North,Accessories,Supplier C,Warehouse 2,Fulfilled,964,4862,11994.042310,True,21,False,59204.50683,3063.0,5828

Data Structure

In [17]:
# We display a sample of our data to view it.
data.sample(20)

,Date,Region,Category,Supplier,Warehouse,Order Status,Units Sold,Inventory Level,Transportation Cost,Order Accuracy,Lead Time (Days),Backorder,Cost of Goods Sold (COGS),Average Inventory,Warehouse Capacity
1134,07-03-2023,South,Furniture,Supplier C,Warehouse 2,Pending,759,2697,10170.563550,True,23,False,33737.42637,2546.5,6405
105,01-01-2022,South,Accessories,Supplier C,Warehouse 1,Pending,671,1849,10012.019640,True,7,False,35673.65153,1183.5,5453
1034,15-06-2023,North,Clothing,Supplier D,Warehouse 1,Fulfilled,399,831,8118.954332,True,20,False,69903.89640,1924.5,6489
873,23-11-2023,East,Furniture,Supplier D,Warehouse 1,Fulfilled,853,2272,11148.075510,True,28,False,99499.19756,2851.5,8659
1175,25-01-2023,West,Electronics,Supplier C,Warehouse 2,Fulfilled,751,726,3025.272040,True,16,False,24467.97513,2792.0,8290
730,14-04-2024,West,Accessories,Supplier C,Warehouse 2,Fulfilled,667,3718,5808.640210,True,12,False,115524.36580,3521.5,7578
900,27-10-2023,West,Furniture,Supplier B,Warehouse 1,Fulfilled,523,3299,5077.956382,True,10,True,68475.70385,3040.0,9521
596,26-08-2024,South,Accessories,Supplier D,Warehouse 1,Fulfilled,511,823,13220.991170,True,14,False,102041.55790,611.5,6244
941,16-09-2023,West,Clothing,Supplier C,Warehouse 2,Pending,827,3799,2306.918416,True,8,False,157639.95330,3419.0,7046
1068,12-05-2023,North,Clothing,Supplier B,Warehouse 2,Fulfilled,820,4716,672.810753,True,9,False,123909.80110,4551.0,7709
380,03-10-2022,North,Accessories,Supplier D,Warehouse 2,Pending,362,1520,10909.123420,True,16,False,15534.38146,2332.0,6115
682,01-06-2024,South,Furniture,Supplier C,Warehouse 2,Fulfilled,412,3288,14323.087400,True,6,False,32152.54272,3955.0,9754
13,27-04-2020,West,Clothing,Supplier A,Warehouse 3,Fulfilled,551,409,8615.902821,True,9,False,57150.95856,598.0,6886
30,14-05-2020,East,Clothing,Supplier D,Warehouse 2,Fulfilled,84,3175,10612.993510,True,18,False,13657.59734,3590.0,8508
11,25-04-2020,East,Furniture,Supplier A,Warehouse 1,Fulfilled,899,3227,12221.188430,True,4,False,127779.95290,2414.5,9035
600,22-08-2024,South,Electronics,Supplier D,Warehouse 1,Fulfilled,501,4394,2972.801709,True,13,False,40105.39087,2925.5,8978
1112,29-03-2023,North,Clothing,Supplier B,Warehouse 2,Fulfilled,468,4540,6832.988359,True,20,False,70143.69907,4096.5,6121
814,21-01-2024,West,Clothing,Supplier D,Warehouse 3,Fulfilled,981,1050,9665.741768,True,16,False,188805.32320,2459.0,9019
639,14-07-2024,West,Accessories,Supplier C,Warehouse 3,Fulfilled,329,2394,1901.288470,True,11,False,27545.04296,1745.0,6849
729,15-04-2024,North,Clothing,Supplier D,Warehouse 1,Canceled,841,2226,2002.732534,True,2,False,81520.48219,2972.0,8290

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       1200 non-null   object
 1   Region                     1200 non-null   object
 2   Category                   1200 non-null   object
 3   Supplier                   1200 non-null   object
 4   Warehouse                  1200 non-null   object
 5   Order Status               1200 non-null   object
 6   Units Sold                 1200 non-null   int64
 7   Inventory Level            1200 non-null   int64
 8   Transportation Cost        1200 non-null   float64
 9   Order Accuracy             1200 non-null   bool
 10  Lead Time (Days)           1200 non-null   int64
 11  Backorder                  1200 non-null   bool
 12  Cost of Goods Sold (COGS)  1200 non-null   float64
 13  Average Inventory          1200 non-null   float64
 14  Warehouse Capacity         1200 non-null   int64
dtypes: bool(2), float64(3), int64(4), object(6)
memory usage: 124.3+ KB

In [ ]:
# Observations:
In our dataset, there are 6 columns with object Datatype,
4 column which is int Datatype,
3 column which is an float Datatype
2 column which is an bool Datatype

In [22]:
# Lets check the Unique values present in the Data
data.nunique()

Date                         1200
Region                          4
Category                        4
Supplier                        4
Warehouse                       3
Order Status                    3
Units Sold                    683
Inventory Level              1069
Transportation Cost          1200
Order Accuracy                  2
Lead Time (Days)               29
Backorder                       2
Cost of Goods Sold (COGS)    1200
Average Inventory            1103
Warehouse Capacity           1044
dtype: int64

In [29]:
data.shape

(1200, 15)

In [ ]:
# Number of rows in the data: 1200
# Number of columns in the data: 15

In [34]:
# Lets look at the names of columns we have
data.columns

Index(['Date', 'Region', 'Category', 'Supplier', 'Warehouse', 'Order Status',
       'Units Sold', 'Inventory Level', 'Transportation Cost',
       'Order Accuracy', 'Lead Time (Days)', 'Backorder',
       'Cost of Goods Sold (COGS)', 'Average Inventory', 'Warehouse Capacity'],
      dtype='object')


Renaming Column

In [41]:
data.rename(columns = {"Cost of Goods Sold (COGS)" : "Cost of Goods Sold"}, inplace=True)

Missing and Null Values

In [45]:
data.isnull().sum()

Date                   0
Region                 0
Category               0
Supplier               0
Warehouse              0
Order Status           0
Units Sold             0
Inventory Level        0
Transportation Cost    0
Order Accuracy         0
Lead Time (Days)       0
Backorder              0
Cost of Goods Sold     0
Average Inventory      0
Warehouse Capacity     0
dtype: int64

In [ ]:
# Inference
# There is no missing values in the Dataset

In [47]:
data.describe()

,Units Sold,Inventory Level,Transportation Cost,Lead Time (Days),Cost of Goods Sold,Average Inventory,Warehouse Capacity
count,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000
mean,533.892500,2530.473333,7723.518494,15.739167,59370.480017,2529.588333,7425.831667
std,275.469524,1416.945265,4202.727652,8.442187,44542.532052,1000.512796,1460.827133
min,50.000000,101.000000,509.098991,1.000000,1415.613541,235.000000,5002.000000
25%,298.000000,1261.750000,4145.882050,8.000000,22982.367025,1843.000000,6116.500000
50%,529.000000,2623.500000,7759.647979,16.000000,47773.376750,2496.500000,7427.000000
75%,777.000000,3726.250000,11154.018832,23.000000,88006.544317,3240.125000,8662.250000
max,999.000000,4999.000000,14997.814050,29.000000,190841.495400,4863.500000,9995.000000

Looking Out For Duplicate Values

In [49]:
data.duplicated().sum()

0

In [ ]:
# We have zero duplicated values in our data

Dropping NA Values

In [51]:
data.dropna()

,Date,Region,Category,Supplier,Warehouse,Order Status,Units Sold,Inventory Level,Transportation Cost,Order Accuracy,Lead Time (Days),Backorder,Cost of Goods Sold,Average Inventory,Warehouse Capacity
0,14-01-2020,North,Accessories,Supplier A,Warehouse 1,Fulfilled,302,2124,1103.838324,True,9,False,37820.05240,2048.0,5037
1,15-11-2020,East,Furniture,Supplier D,Warehouse 2,Fulfilled,741,1972,13163.007660,True,11,False,54396.17369,1213.0,9216
2,16-04-2020,East,Furniture,Supplier C,Warehouse 2,Fulfilled,940,454,9872.294126,True,17,False,24217.45462,1160.5,7699
3,17-04-2020,South,Accessories,Supplier D,Warehouse 2,Canceled,589,1867,4547.589932,True,3,False,38919.08005,3364.5,9271
4,18-04-2020,North,Accessories,Supplier C,Warehouse 2,Fulfilled,964,4862,11994.042310,True,21,False,59204.50683,3063.0,5828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,05-01-2023,East,Electronics,Supplier C,Warehouse 2,Pending,488,4489,13060.376620,True,29,False,64393.19690,3614.0,8820
1196,04-01-2023,East,Clothing,Supplier A,Warehouse 3,Fulfilled,946,2739,3052.358948,True,14,False,105773.05570,2015.0,7697
1197,03-01-2023,North,Accessories,Supplier C,Warehouse 2,Fulfilled,637,1291,3774.674667,True,15,False,96050.32391,758.5,5386
1198,02-01-2023,West,Clothing,Supplier D,Warehouse 1,Pending,906,226,11776.903590,True,2,False,88010.31702,1761.5,8729
1199,01-01-2023,East,Electronics,Supplier A,Warehouse 1,Fulfilled,613,3297,14897.680250,True,17,False,104802.65720,1648.5,7314

In [79]:
data.head(10)

,Date,Region,Category,Supplier,Warehouse,Order Status,Units Sold,Inventory Level,Transportation Cost,Order Accuracy,Lead Time (Days),Backorder,Cost of Goods Sold,Average Inventory,Warehouse Capacity
0,14-01-2020,North,Accessories,Supplier A,Warehouse 1,Fulfilled,302,2124,1103.84,1,9,False,37820.05,2048.0,5037
1,15-11-2020,East,Furniture,Supplier D,Warehouse 2,Fulfilled,741,1972,13163.01,1,11,False,54396.17,1213.0,9216
2,16-04-2020,East,Furniture,Supplier C,Warehouse 2,Fulfilled,940,454,9872.29,1,17,False,24217.45,1160.5,7699
3,17-04-2020,South,Accessories,Supplier D,Warehouse 2,Canceled,589,1867,4547.59,1,3,False,38919.08,3364.5,9271
4,18-04-2020,North,Accessories,Supplier C,Warehouse 2,Fulfilled,964,4862,11994.04,1,21,False,59204.51,3063.0,5828
5,19-04-2020,South,Electronics,Supplier A,Warehouse 1,Canceled,338,1264,6220.99,0,15,False,55736.89,1104.5,8292
6,20-04-2020,West,Furniture,Supplier A,Warehouse 2,Pending,748,945,14023.28,1,7,False,139260.84,929.0,5073
7,21-04-2020,North,Accessories,Supplier C,Warehouse 1,Canceled,909,913,1556.26,1,25,False,35640.52,2204.0,9860
8,22-04-2020,East,Clothing,Supplier C,Warehouse 3,Fulfilled,781,3495,4933.46,1,8,False,73883.09,3481.0,8375
9,23-04-2020,East,Clothing,Supplier A,Warehouse 1,Fulfilled,488,3467,12041.49,1,21,False,52012.69,4067.5,8594

Rounding To 2 Decimal Places

In [57]:
data["Transportation Cost"] = data["Transportation Cost"].round(2)
data["Cost of Goods Sold"] = data["Cost of Goods Sold"].round(2)

In [59]:
data

,Date,Region,Category,Supplier,Warehouse,Order Status,Units Sold,Inventory Level,Transportation Cost,Order Accuracy,Lead Time (Days),Backorder,Cost of Goods Sold,Average Inventory,Warehouse Capacity
0,14-01-2020,North,Accessories,Supplier A,Warehouse 1,Fulfilled,302,2124,1103.84,True,9,False,37820.05,2048.0,5037
1,15-11-2020,East,Furniture,Supplier D,Warehouse 2,Fulfilled,741,1972,13163.01,True,11,False,54396.17,1213.0,9216
2,16-04-2020,East,Furniture,Supplier C,Warehouse 2,Fulfilled,940,454,9872.29,True,17,False,24217.45,1160.5,7699
3,17-04-2020,South,Accessories,Supplier D,Warehouse 2,Canceled,589,1867,4547.59,True,3,False,38919.08,3364.5,9271
4,18-04-2020,North,Accessories,Supplier C,Warehouse 2,Fulfilled,964,4862,11994.04,True,21,False,59204.51,3063.0,5828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,05-01-2023,East,Electronics,Supplier C,Warehouse 2,Pending,488,4489,13060.38,True,29,False,64393.20,3614.0,8820
1196,04-01-2023,East,Clothing,Supplier A,Warehouse 3,Fulfilled,946,2739,3052.36,True,14,False,105773.06,2015.0,7697
1197,03-01-2023,North,Accessories,Supplier C,Warehouse 2,Fulfilled,637,1291,3774.67,True,15,False,96050.32,758.5,5386
1198,02-01-2023,West,Clothing,Supplier D,Warehouse 1,Pending,906,226,11776.90,True,2,False,88010.32,1761.5,8729
1199,01-01-2023,East,Electronics,Supplier A,Warehouse 1,Fulfilled,613,3297,14897.68,True,17,False,104802.66,1648.5,7314

In [ ]:
Changing datatype - Converting Boolean to Int

In [69]:
data["Order Accuracy"] = data["Order Accuracy"].astype(int)

In [87]:
data["Backorder"] = data["Backorder"].astype(int)

In [89]:
data

,Date,Region,Category,Supplier,Warehouse,Order Status,Units Sold,Inventory Level,Transportation Cost,Order Accuracy,Lead Time (Days),Backorder,Cost of Goods Sold,Average Inventory,Warehouse Capacity
0,14-01-2020,North,Accessories,Supplier A,Warehouse 1,Fulfilled,302,2124,1103.84,1,9,0,37820.05,2048.0,5037
1,15-11-2020,East,Furniture,Supplier D,Warehouse 2,Fulfilled,741,1972,13163.01,1,11,0,54396.17,1213.0,9216
2,16-04-2020,East,Furniture,Supplier C,Warehouse 2,Fulfilled,940,454,9872.29,1,17,0,24217.45,1160.5,7699
3,17-04-2020,South,Accessories,Supplier D,Warehouse 2,Canceled,589,1867,4547.59,1,3,0,38919.08,3364.5,9271
4,18-04-2020,North,Accessories,Supplier C,Warehouse 2,Fulfilled,964,4862,11994.04,1,21,0,59204.51,3063.0,5828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,05-01-2023,East,Electronics,Supplier C,Warehouse 2,Pending,488,4489,13060.38,1,27,0,64393.20,3614.0,8820
1196,04-01-2023,East,Clothing,Supplier A,Warehouse 3,Fulfilled,946,2739,3052.36,1,14,0,105773.06,2015.0,7697
1197,03-01-2023,North,Accessories,Supplier C,Warehouse 2,Fulfilled,637,1291,3774.67,1,15,0,96050.32,758.5,5386
1198,02-01-2023,West,Clothing,Supplier D,Warehouse 1,Pending,906,226,11776.90,1,2,0,88010.32,1761.5,8729
1199,01-01-2023,East,Electronics,Supplier A,Warehouse 1,Fulfilled,613,3297,14897.68,1,17,0,104802.66,1648.5,7314

In [93]:
data.head(20)

,Date,Region,Category,Supplier,Warehouse,Order Status,Units Sold,Inventory Level,Transportation Cost,Order Accuracy,Lead Time (Days),Backorder,Cost of Goods Sold,Average Inventory,Warehouse Capacity
0,14-01-2020,North,Accessories,Supplier A,Warehouse 1,Fulfilled,302,2124,1103.84,1,9,0,37820.05,2048.0,5037
1,15-11-2020,East,Furniture,Supplier D,Warehouse 2,Fulfilled,741,1972,13163.01,1,11,0,54396.17,1213.0,9216
2,16-04-2020,East,Furniture,Supplier C,Warehouse 2,Fulfilled,940,454,9872.29,1,17,0,24217.45,1160.5,7699
3,17-04-2020,South,Accessories,Supplier D,Warehouse 2,Canceled,589,1867,4547.59,1,3,0,38919.08,3364.5,9271
4,18-04-2020,North,Accessories,Supplier C,Warehouse 2,Fulfilled,964,4862,11994.04,1,21,0,59204.51,3063.0,5828
5,19-04-2020,South,Electronics,Supplier A,Warehouse 1,Canceled,338,1264,6220.99,0,15,0,55736.89,1104.5,8292
6,20-04-2020,West,Furniture,Supplier A,Warehouse 2,Pending,748,945,14023.28,1,7,0,139260.84,929.0,5073
7,21-04-2020,North,Accessories,Supplier C,Warehouse 1,Canceled,909,913,1556.26,1,25,0,35640.52,2204.0,9860
8,22-04-2020,East,Clothing,Supplier C,Warehouse 3,Fulfilled,781,3495,4933.46,1,8,0,73883.09,3481.0,8375
9,23-04-2020,East,Clothing,Supplier A,Warehouse 1,Fulfilled,488,3467,12041.49,1,21,0,52012.69,4067.5,8594
10,24-04-2020,West,Clothing,Supplier D,Warehouse 3,Fulfilled,125,4668,6126.85,1,21,0,2726.66,3947.5,7684
11,25-04-2020,East,Furniture,Supplier A,Warehouse 1,Fulfilled,899,3227,12221.19,1,4,0,127779.95,2414.5,9035
12,26-04-2020,North,Accessories,Supplier D,Warehouse 1,Fulfilled,324,1602,5705.51,1,27,0,63107.39,1005.5,8116
13,27-04-2020,West,Clothing,Supplier A,Warehouse 3,Fulfilled,551,409,8615.90,1,9,0,57150.96,598.0,6886
14,28-04-2020,West,Clothing,Supplier C,Warehouse 3,Fulfilled,489,787,11076.52,1,8,0,66378.00,1039.0,9727
15,29-04-2020,West,Electronics,Supplier A,Warehouse 2,Pending,712,1291,1450.90,1,16,1,24683.76,1881.0,5119
16,30-04-2020,West,Clothing,Supplier D,Warehouse 2,Fulfilled,775,2471,2671.77,1,10,0,23900.74,3462.5,8953
17,01-05-2020,West,Clothing,Supplier D,Warehouse 2,Fulfilled,936,4454,8057.02,1,26,1,108960.38,2754.0,7941
18,02-05-2020,West,Electronics,Supplier A,Warehouse 2,Fulfilled,988,1054,8990.64,1,7,0,130014.81,652.5,8128
19,03-05-2020,South,Clothing,Supplier C,Warehouse 3,Canceled,612,251,6719.32,1,6,0,40211.05,1969.0,9397

In [81]:
# Capping method
data["Lead Time (Days)"] = data["Lead Time (Days)"].clip(lower=2, upper=27)

In [95]:
data

,Date,Region,Category,Supplier,Warehouse,Order Status,Units Sold,Inventory Level,Transportation Cost,Order Accuracy,Lead Time (Days),Backorder,Cost of Goods Sold,Average Inventory,Warehouse Capacity
0,14-01-2020,North,Accessories,Supplier A,Warehouse 1,Fulfilled,302,2124,1103.84,1,9,0,37820.05,2048.0,5037
1,15-11-2020,East,Furniture,Supplier D,Warehouse 2,Fulfilled,741,1972,13163.01,1,11,0,54396.17,1213.0,9216
2,16-04-2020,East,Furniture,Supplier C,Warehouse 2,Fulfilled,940,454,9872.29,1,17,0,24217.45,1160.5,7699
3,17-04-2020,South,Accessories,Supplier D,Warehouse 2,Canceled,589,1867,4547.59,1,3,0,38919.08,3364.5,9271
4,18-04-2020,North,Accessories,Supplier C,Warehouse 2,Fulfilled,964,4862,11994.04,1,21,0,59204.51,3063.0,5828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,05-01-2023,East,Electronics,Supplier C,Warehouse 2,Pending,488,4489,13060.38,1,27,0,64393.20,3614.0,8820
1196,04-01-2023,East,Clothing,Supplier A,Warehouse 3,Fulfilled,946,2739,3052.36,1,14,0,105773.06,2015.0,7697
1197,03-01-2023,North,Accessories,Supplier C,Warehouse 2,Fulfilled,637,1291,3774.67,1,15,0,96050.32,758.5,5386
1198,02-01-2023,West,Clothing,Supplier D,Warehouse 1,Pending,906,226,11776.90,1,2,0,88010.32,1761.5,8729
1199,01-01-2023,East,Electronics,Supplier A,Warehouse 1,Fulfilled,613,3297,14897.68,1,17,0,104802.66,1648.5,7314

In [99]:
data.to_csv('Inventory_SupplyChain_Dataset.csv', index=False)